/* Reset CSS */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Global Styles */
body {
  background-color: #febebe; 
  height: 100vh; /* Set body height to 100% of viewport height */
  font-family: 'SF Pro Display', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Header */
header {
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  color: #424245;
  padding: 10px;
  padding-left: 20px; /* Adjust the left padding */
  padding-right: 20px; /* Adjust the right padding */
}

/* Logo Container */
.logo-container {
  display: flex;
  align-items: center;
}

/* Header Text */
.header-text {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Footer */
footer {
  height: 10px;
  width:100%;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid #E1306C;
  color: #E1306C;
  padding: 10px;
}

/* Headings and Paragraphs */
h1 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.007em;
  margin-right: 5px;
}

p {
  font-size: 14px;
  margin: 10px;
}

/* Logo */
.logo {
  height: auto;
  max-height: 30px;
  margin-right: 5px;
}

/* Try Now Button */
.try-now-button {
  width: 80px;
  padding: 6px 10px;
  background-color: #C13584;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}
