body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Light gray */
    font-family: Arial, sans-serif;
  }
  
  header, footer {
    color: #424245; /* Dark gray text */
    padding: 10px;
    border-bottom: 1px solid #d2d2d7; /* Border line */
    height: 40px; /* Adjust the height as desired */
    
  }
  header {
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: inline;
  }
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  h1 {
    font-size: 24px;
  }
  
  p {
    font-size: 14px;
  }
  
